.default__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.default--nonactive {
    display: none;
}

.weather-block--non-active {
    display: none;
}

.weather-block__container {
    display: flex;
    justify-content: center;
    width: 610px;
    height: 238px;
}

.weather-block__arrow-button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.weather-block__arrow-left {
    width: 24px;
}

.weather-block__arrow-right {
    width: 24px;
    transform: rotate(180deg);
}

.weather-block__output-container {
    width: 550px;
    height: 266px;
    overflow: hidden;
}

.weather-block__items-container {
    display: flex;
    justify-content: flex-start;
    height: 238px;
    width: 1288px;
    transition: all 0.2s;
}

.weather-block__items-container--0px {
    position: relative;
    right: 0px;
    transition: right 0.2s;
}

.weather-block__items-container--184px {
    position: relative;
    right: 184px;
    transition: right 0.2s;
}

.weather-block__items-container--368px {
    position: relative;
    right: 368px;
    transition: right 0.2s;
}

.weather-block__items-container--552px {
    position: relative;
    right: 552px;
    transition: right 0.2s;
}

.weather-block__items-container--736px {
    position: relative;
    right: 736px;
    transition: right 0.2s;
}

.weather-block__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 174px;
    height: 238px;
    overflow: hidden;
    margin-right: 10px;
    background-color: #373AF5;
    border: 2px solid #373AF5;
    box-sizing: border-box;
    box-shadow: 14px 14px 20px 0px #05067233;
    box-shadow: 0px 4px 4px 0px #04054940;
    border-radius: 8px;
    transition: width 0.2s;
}

.weather-block__item-date-span {
    margin-top: 20px;
    margin-left: 20px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.weather-block__item-temp-span {
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: end;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
}

@media only screen and (max-width: 700px) {
    .weather-block__arrow-left {
        display: none;
    }
    .weather-block__arrow-right {
        display: none;
    }
    .weather-block__container {
        overflow: hidden;
    }
    .weather-block__output-container {
        width: 100%;
        overflow: scroll;
    }
    .item-main__output-container {
        width: 100%;
    }
}